// Mixins

.borderRadius(@radius: 5px)
{
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

// Variables

@navbar-color: #fff;
@navbar-hover-color: #ddd;

.error
{
    border: 1px solid #b94a48 !important;
    background-color: #ffeeee !important;
}

label
{
    font-weight: 200;

    &.error
    {
        .borderRadius();
        padding: 5px;
    }
}

.tab-content > .tab-pane
{
    padding: 10px 0px;
}

form
{
    .borderRadius();
    background-color: rgba(0, 105, 214, 0.15);
    padding: 15px 30px;
}

#footer
{
    background-color: #eeeeee;
    padding: 10px 10px 5px 10px;
}

// A little Bootstrap customisation

.navbar
{
    .navbar-brand
    {
        color: @navbar-color;
    }

    background-color: #31b0d5;
}

.navbar-default .navbar-nav 
{
    & > li > a
    {
        color: @navbar-color;
    }

    & > li > a:hover,
    & > li > a:focus {
      color: @navbar-hover-color;
    }

    & > .dropdown > a .caret
    {
        border-top-color: @navbar-color;
        border-bottom-color: @navbar-color;
    }
}
