@section styles {
    <style>
        .nuget-badge code {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background-color: #202020;
            border: 4px solid silver;
            border-radius: 5px;
            box-shadow: 2px 2px 3px #6e6e6e;
            color: #e2e2e2;
            display: block;
            font: 1.1em 'andale mono', 'lucida console', monospace;
            line-height: 1.5em;
            overflow: auto;
            padding: 15px
        }
    </style>
}

<h3>Download</h3>

<p>You can include jQuery.Validation.Unobtrusive.Native into your project in a number of ways. You can get the source on <a href="http://github.com/johnnyreilly/jQuery.Validation.Unobtrusive.Native" target="_blank">GitHub</a>.</p>

<p>Also it's available to download on <a href="https://www.nuget.org/packages/jQuery.Validation.Unobtrusive.Native/" target="_blank">NuGet</a>:</p>

<div class="nuget-badge">
    <p><code>PM&gt; Install-Package jQuery.Validation.Unobtrusive.Native</code></p>
</div>

<p>Nb The NuGet package is compiled against MVC 4.  I plan to create an MVC 3 version at some point but it's not available yet.</p>