@section metatags{
    <meta name="Description" content="The more advanced demos show working examples of how to use jQuery Validation Unobtrusive Native in more complex scenarios and for more edge use cases.">
}
<h3>@ViewBag.Title</h3>

<p>The advanced demos show working examples of how to use jQuery Validation Unobtrusive Native in more complex scenarios.  These demos work in the same way as the basic ones but go beyond the basic use cases.  Some of these demos (eg @Html.ActionLink("Tooltip", "Tooltip", "AdvancedDemo")) are less about demoing jQuery Validate Unobtrusive Native and more about using jQuery Validate in more advanced ways.</p>
  
<h4>Available Demos</h4>

<ul class="nav nav-list" style="width: 30%; min-width: 200px;">@Html.Partial("_PartialAdvancedDemoMenuItems")</ul>
