@Html.RenderMenuItem("Dynamic (Knockout)", "Dynamic", "AdvancedDemo")
@Html.RenderMenuItem("Custom Validation", "CustomValidation", "AdvancedDemo")
<li class="dropdown-header">Miscellaneous Demos</li>
@Html.RenderMenuItem("Tooltip", "Tooltip", "AdvancedDemo")
@Html.RenderMenuItem("Globalize", "Globalize", "AdvancedDemo")