<li class="nav-header">Validation Types</li>
@Html.RenderMenuItem("Required", "DemosRequired", "Home")
<!--
<li class="divider"></li>
<li class="nav-header">Other Demos</li>
@Html.RenderMenuItem("Dynamic content", "DemosDynamic", "Home")
-->